altgraph==0.17.4
babel==2.17.0
blinker==1.9.0
charset-normalizer==3.4.3
click==8.3.0
decorator==5.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
keyboard==0.13.5
MarkupSafe==3.0.2
moviepy==2.2.1
mysql-connector-python==9.4.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==11.3.0
proglog==0.1.12
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
PyMySQL==1.1.2
python-dotenv==1.1.1
pyzbar==0.1.9
reportlab==4.4.4
setuptools==80.9.0
tkcalendar==1.6.1
tqdm==4.67.1
Werkzeug==3.1.3
